// Custom styles.
.header {
  background-image: url("https://ws1.sinaimg.cn/large/694830ebgy1fh3pyd05klj21kw0f2dy2.jpg");
}
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: transparent;
  border-bottom: none;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 48px;
  font-weight: normal;
  font-family: 'Lobster Two', 'Roboto Slab', "PingFang SC", "Microsoft YaHei", sans-serif;
}